.navbar li {
  display: inline-block;
  text-align: center;
}

.navbar {
  background: #000000;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: white;
  padding: 5px 0;
}

body {
  font-size: 18px;
}